body {
    padding: 10px;
    margin-bottom: 50px;
}

.main_content {
    border: 0px solid black;
    padding: 0px;
    margin: 0px;
}

p, h2 {
    line-height: normal;
    padding: 10px 5px 10px 5px;
    margin: 0px;
}

h2 {
    font-size: x-large;
    text-align: center;
    margin-bottom: 15px;
}

p {
    font-size: normal;
}

.wl {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 10px;
}

.container {
    margin-top: 35px;
    width: 100%;
    max-width: 850px;
}

.img_index {
    max-width: 100px;
    max-height: 100px;
}

.img_listing {
    max-height: 100%;  
    max-width: 100%; 
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

table {
    display: table;
    overflow-x: auto;
    width: 100%;
    min-width: 300px;
    align-items: center;

}

.table > tbody > tr > td {
    vertical-align: middle;
}

.table > thead > tr > th {
    vertical-align: middle;
}

.table_listing {
    display: inline-block;
}

.table > thead > tr > td,
.table > tbody > tr > td {
    padding: 10px;
}

.table_listing2 {
    border-collapse: separate;
    border-spacing: 15px 0;
    margin-left: auto;
    margin-right: auto;
}

div > .table_listing2 {
    position: relative;
    bottom: 0;
    right: auto;
    left: auto;
}

.top_info {
    text-align: center;
    padding: 3px;
}

.scrollable {
    display: block;
    overflow-x: auto;
}

.table > thead > tr > td {
  border-top: none;
}

