{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <h2>Active Listings</h2>
        <table class="table table-bordered" style="text-align: center;">
            <thead class="thead-dark">
                <tr class="align-middle">
                    <th scope="col">Created Date</th>
                    <th scope="col">Image</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Bid</th>
                    <th scope="col">Category</th>
                    <th scope="col">Creator</th>
                </tr>
            </thead>
            <tbody>
                {% for listing in listings %}
                    {% if listing.active %}
                        <tr>
                            <td>{{listing.created_at}}</td>
                            <td><img src="{{listing.image}}"></td>
                            <td><a href="{% url 'listing' listing.id %}">{{listing.title}}</a></td>
                            <td>{{listing.desc}}</td>
                            <td>{{listing.bid}}</td>
                            <td>{{listing.category}}</td>
                            <td>{{listing.creator.username}}</td>
                        </tr>
                    {% else %}
                    {% endif %}
                {% empty %}
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}