{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        {% if not listing.active and listing.creator != user %}
            <div class="alert alert-success" role="alert">
                You won this listing. Congratulations.
            </div>
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <h2>{{listing.title}}</h2>
        
        {% if listing.active %}
            <div>
                <p class="text-success top_info">Status: Open</p>
            </div>
            {% if user.is_authenticated %}
                {% if user == listing.creator %}
                    {% if listing.last_bidder %}
                        <div>
                            <p class="text-success top_info">Highest Bidder: {{listing.last_bidder}}</p>
                        </div>
                    {% endif %}
                    <div class="wl">
                        <form action="{% url 'close' %}", method="post">
                            {% csrf_token %}
                            <button class="btn btn-outline-danger" type="submit" name="listing_id" value={{listing.id}}>Close this listing</button>
                        </form>
                    </div>
                {% else %}
                    {% if not_added %}
                        <div class="wl">
                            <form action="{% url 'addwl' %}", method="post">
                                {% csrf_token %}
                                <button class="btn btn-outline-success" type="submit" name="listing_id" value={{listing.id}}>Add to watchlist</button>
                            </form>
                        </div>
                    {% else %}
                        <div class="wl">
                            <form action="{% url 'rmwl' %}", method="post">
                                {% csrf_token %}
                                <button class="btn btn-outline-warning" type="submit" name="listing_id" value={{listing.id}}>Remove from watchlist</button>
                            </form>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% else %}
            <div style="margin-bottom: 25px;">
                <div>
                    <p class="text-danger top_info">Status: Closed</p>
                </div>
                {% if user.is_authenticated %}
                    {% if user == listing.creator %}
                        <div>
                            {% if listing.last_bidder %}
                                <p class="text-success top_info">Winner: {{listing.last_bidder}}</p>
                            {% else %}
                                <p class="text-warning top_info">No winner</p>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
               
            </div>
            
        {% endif %}
        
        <div class="row border instance_listing">
            <div class="col-4" style="padding: 10px;">
                <img class="img_listing" src="{{listing.image}}" alt="no_image">
            </div>
            <div class="col-8 border-left" style="padding: 0;">
                <div class="scrollable">
                    <table class="table" style="margin-bottom: 0;">
                        <thead style="width: 100%;">
                            <tr>
                                <td scope="col">Name:</td>
                                <td scope="col" colspan="2">{{listing.title}}</td>
                            </tr>
                        </thead>
                        <tbody style="width: 100%;">
                            
                            <tr>
                                <td>Added Date:</td>
                                <td colspan="2">{{listing.created_at}}</td>
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td colspan="2">{{listing.desc}}</td>
                            </tr>
                            <tr>
                                <td>Added by:</td>
                                <td colspan="2">{{listing.creator}}</td>
                            </tr>
                            {% if listing.category%}
                                <tr>
                                    <td>Category:</td>
                                    <td colspan="2">{{listing.category}}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td>Current price:</td>
                                {% load humanize %}
                                <td colspan="2">USD {{listing.current_bid|floatformat:2|intcomma}}</td>
                            </tr>
                            {% if user != listing.creator and listing.active %}
                                <tr>
                                    <td scope="col">
                                        <form class="form-inline" action="{% url 'new_bid' %}" method="post">
                                            {% csrf_token %}
                                            <div class="form-group mb-0">
                                                <label for="new_bid">New Bid:</label>
                                            </div>
                                    </td>
                                    <td scope="col" style="padding-right: 0">
                                            <div class="form-group mx-sm-0 mb-0" style="height: 100%;">
                                                <input style="min-width: 100px; width: 100%;" type="number" class="form-control" id="new_bid" name="bid" required placeholder="{{listing.current_bid}}">
                                            </div>
                                    </td>
                                    <td scope="col" style="width: 30%;">
                                            <input type="hidden" name="listing_id" value="{{listing.id}}">
                                            <button style="width: 100%;" type="submit" class="btn btn-primary mb-0">Place Bid</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row border border-top-0">
            for comments
        </div>
    </div>
{% endblock %}